force-app/main/default/flows/Assigns_Record_Type_bases_on_Television_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>It assigns the Apple record type based on the television name.</description>
        <name>Apple_Record_Type</name>
        <label>Apple Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>It assigns the Chroma record type based on the television name.</description>
        <name>Chroma_Record_Type</name>
        <label>Chroma Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>It assigns the LG record type based on the television name.</description>
        <name>LG_Record_Type</name>
        <label>LG Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>It assigns the Samsung record type to that brand name.</description>
        <name>Samsung_Record_Type</name>
        <label>Samsung Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>It assigns the Sony record type based on the television name.</description>
        <name>Sony_Record_Type</name>
        <label>Sony Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>It checks what is the name of the television.</description>
        <name>Television_Name</name>
        <label>Television Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Samsung_TV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsung</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id_of_Samsung_Record_Type</targetReference>
            </connector>
            <label>Samsung TV</label>
        </rules>
        <rules>
            <name>Sony_TV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sony</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id_of_Sony_Record_Type</targetReference>
            </connector>
            <label>Sony TV</label>
        </rules>
        <rules>
            <name>Apple_TV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id_of_Apple_Record_Type</targetReference>
            </connector>
            <label>Apple TV</label>
        </rules>
        <rules>
            <name>Chroma_TV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chroma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id_of_Chroma_Record_Type</targetReference>
            </connector>
            <label>Chroma TV</label>
        </rules>
        <rules>
            <name>LG_TV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id_of_LG_Record_Type</targetReference>
            </connector>
            <label>LG TV</label>
        </rules>
    </decisions>
    <description>It assigns the certain record type based on particular television name.</description>
    <environments>Default</environments>
    <interviewLabel>Assigns Record Type bases on Television Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigns Record Type bases on Television Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>It gets the Recordtype Id of the Apple  record type.</description>
        <name>Get_Record_Type_Id_of_Apple_Record_Type</name>
        <label>Get Record Type Id of Apple Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apple_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Television__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apple_TV</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>It gets the recordtype Id of the Chroma record type.</description>
        <name>Get_Record_Type_Id_of_Chroma_Record_Type</name>
        <label>Get Record Type Id of Chroma Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chroma_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Television__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chroma_TV</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>It gets the record type Id of the LG record type.</description>
        <name>Get_Record_Type_Id_of_LG_Record_Type</name>
        <label>Get Record Type Id of LG Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LG_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Television__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LG_TV</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>It gets the recordtype Id of the samsung record type.</description>
        <name>Get_Record_Type_Id_of_Samsung_Record_Type</name>
        <label>Get Record Type Id of Samsung Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Samsung_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Television__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Samsung_TV</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>It gets the recordtype Id of the sony record type.</description>
        <name>Get_Record_Type_Id_of_Sony_Record_Type</name>
        <label>Get Record Type Id of Sony Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sony_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Television__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sony_TV</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Television_Name</targetReference>
        </connector>
        <object>Television__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>It stores the Record type ID.</description>
        <name>RecordType_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
